@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/* Variables */ 

$fuentePrincipal: 'Playfair Display', serif;

/* ---------- */            //786px

.btnGral{
    background-color: #000;
    color: #fff;
}

*{
    font-family: $fuentePrincipal;
    margin: 0;
    padding: 0;
}

body{
    width: 1400px;
}

/* Header */

header{
    width: 1400px;
    height: 140px;
    margin: 0;
    background-color: rgb(236, 227, 227);

    .h1Header{
        font-size: 60px;
        padding-left: 100px;
        padding-top: 30px;
        margin: 0;    
    }
}

/* Barra de navegación */ 

.navBar{
    border-top: 1px solid #000;
    width: 1400px;
    height: 75px;

    .ulNavBar{
        display: flex;
        justify-content: space-evenly;
        padding-top: 10px;
    }

        li{
            list-style: none;
            font-size: 30px;

            a{
                text-decoration: none;
                color: #000;
            }
        }
    }

/* Imagen Carrito NavBar */

    .imgCartWidget{
        height: 45px;
        width: 45px;
    }

/* Home */ 

.divHome{
    height: 1170px;
    width: 1400px;
}

.divHomeSecundario{
    padding-left: 40px;
    padding-bottom: 30px;
}

.divPHome{
    width: 950px;
    padding-left: 200px;
    padding-top: 30px;
}

.h3Home{
    font-size: 30px;
    padding-top: 15px;
}

.pHome{
    border: 1px solid #000;
    padding: 15px;
    font-size: 20px;
}

.btnHome{
    padding-top: 35px;
    padding-left: 550px;
}

/* ItemList */

.divItemList{
    width: 1400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

/* Item  */

.itemContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000;
    margin: 15px;
    padding: 15px;
}

.h1Item{
    font-size: 20px;
}

.imgItem{
    width: 250px;
    height: 250px;
}

.divBtnItem{
    padding-bottom: 10px;
}

.btnItem{
    background-color: #000;
    color: #fff;
}

/* Footer */ 

footer{
    border-top: 1px solid #000; 
    background-color: rgb(236, 227, 227);
    width: 1400px;
    height: 230px;
}

.divAboutContacto{
    display: flex;
    justify-content: space-evenly;
}

.h3Footer{
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 20px;
}

.ulRedes{
    display: flex;
    padding: 0;
    justify-content: space-evenly;
    
    .liRedes{
        list-style: none;
        padding: 4px;
    }
}

.divDerechos{
    text-align: center;
    font-size: 16px;
    padding-top: 40px;
}

.ulPrincipalFooter{

    padding: 0;
    margin: 0;
    font-size: 17px;

    a{
        color: #000;
    }

    li{
        list-style: none;
    }
}

.divContacto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ItemDetail */

.itemDetailPrincipal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 400px;
}

.divCardDetail{
    text-align: center;
}

/* ItemCount */

.divAñadir{
    padding-top: 20px;
}

.btnAumenoDecrement{
    background-color: #000;
    color: #fff;
}

.cantidad{
    padding-left: 10px;
    font-size: 20px;
}

.btnAgrgarProd{
    background-color: #000;
    color: #fff;
}

/* Card */ 

.h1Card{
    font-size: 30px;
}

.imgCard{
    width: 250px;
    height: 250px;
}

/* MapCart */   

.cartContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
}

.divColumn1{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}

.divColumn2{
    padding-left: 200px;
}

.divBtnClear{
    padding-top: 5px;
}

.divColumn3{
    border-top: 1px solid #000;
    padding: 30px;
    text-align: center;
}

.btnMapCart{
    background-color: #000;
    color: #fff;
}

.sectionColumn3{
    padding-top: 30px;
}

.btnContinuar{
    font-size: 30px;
}

.precioTotal{
    font-size: 40px;
    padding-bottom: 20px;
}

/* Formulario */ 

.sectionFormulario{
    text-align: center;
    height: 650px;
    padding-top: 100px;
}

.h2Formulario{
    padding-bottom: 30px;
}

.divBtnFrom{
    padding-top: 10px;
}

.spanForm{
    color: red;
}

.btnFinalizar{
    background-color: #000;
    color: #fff;
}

.h4Formulario{
    color: red;
    padding-top: 30px;
}

.divCamposForm{
    font-size: 20px;
}

.input-form{
    font-size: 20px;
}

.message-form{
    font-size: 20px;
}

/* Cart */ 

.divCarritoVacio{
    text-align: center;
    padding: 20px;

    .h2CarritoVacio{
        font-size: 40px;
        padding-bottom: 20px;
    }
}

/* Detalle */ 

.divDetalle{
    text-align: center;
    padding: 50px;
}

.ulDetalle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;

    li{
        font-size: 23px;
    }
}

/* Nuestros Locales */ 

.containerLocales{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 40px;
    padding-bottom: 20px;
}

.sectionLocales{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #000;
    height: 300px;
    width: 550px;
    margin-left: 30px;
    margin-bottom: 30px;
    background-color: rgb(236, 227, 227);

    .divLocales1{
        border-bottom: 1px solid #000;
    }
    
    .divLocales3{
        border-top: 1px solid #000;
    }
    
    .h2Locales{
        font-size: 40px;
    }
    
    .h3Locales{
        font-size: 30px;
    }

    .h4Locales{
        font-size: 22px;
    }
}

/* Métodos de pago */ 

.sectionMetodoPago{
    height: 550px;
    padding-top: 20px;

    .containerMetodoPago{
        text-align: center;
        padding-bottom: 40px;
        padding-top: 30px;
    }

    .divSecuMetodoPago{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .h1MetodoPago{
        text-decoration: underline;
    }
}

.sectionCardMetodoPago{
    border: 1px solid #000;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(236, 227, 227);
    
    .divSecundario{
        text-align: center;
    }
    
    #div1MetodoPago{
        padding-bottom: 30px;
    }

    #div2MetodoPago{
        border-top: 1px solid #000;
    }

    #div3MetodoPago{
        border-top: 1px solid #000;
        padding-top: 30px;
    }

        .h2MetodoPago{
            font-size: 60px;
        }

        .h3MetodoPago{
            font-size: 25px;
        }
        
        .h4MetodoPago{
            font-size: 18px;
            padding-bottom: 30px;
        }

        .h5MetodoPago{

            font-size: 16px;
        }

            .imgCardMetodoPago1{
            width: 80px;
            height: 50px;
            }
        
            .imgCardMetodoPago2{
            height: 40px;
            width: 75px;
            padding-top: 10px;
            padding-bottom: 10px;
            }
}

/* Metodo de Envio */

.sectionEnvio{
        padding-top: 30px;
        height: 1450px;
        
    
    h2{
        font-size: 30px;
    }

    h3{
        font-size: 25px;
        text-align: center;
        padding-top: 60px;
    }

    h4{
        font-size: 20px;
    }

    p{
        font-size: 20px;
    }

    .divInicialEnvios{
        text-align: center;
    }

    .sectionSecun{
        padding-left: 100px;
    }

    .divEnvioSecun{
        border-top: 1px solid #000;
        padding-bottom: 30px;
        padding-top: 20px;
        background-color: rgb(236, 227, 227);
        padding: 20px;
    }
}