@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/* Variables */ 

$fuentePrincipal: 'Playfair Display', serif;
$colorPrincipal: rgb(236, 227, 227);

/* ---------- */           

.btnGral{
    background-color: #000;
    color: #fff;
}

*{
    font-family: $fuentePrincipal;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
}

/* Header */

header{
    width: 100%;
    height: 140px;
    margin: 0;
    background-color: $colorPrincipal;

    .h1Header{
        font-size: 60px;
        padding-left: 100px;
        padding-top: 30px;
        margin: 0;    
    }
}

/* Barra de navegación */ 

.navBar{
    border-top: 1px solid #000;
    width: 100%;
    height: 75px;

    .ulNavBar{
        display: flex;
        justify-content: space-evenly;
        padding-top: 10px;
    }

        li{
            list-style: none;
            font-size: 30px;

            a{
                text-decoration: none;
                color: #000;
            }
        }
    }

/* Imagen Carrito NavBar */

    .imgCartWidget{
        height: 45px;
        width: 45px;
    }

/* Home */ 

.divHome{
    height: 1170px;
    width: 100%;
}

.divHomeSecundario{
    padding-left: 40px;
    padding-bottom: 30px;
}

.divPHome{
    width: 950px;
    padding-left: 200px;
    padding-top: 30px;
}

.h3Home{
    font-size: 30px;
    padding-top: 15px;
}

.pHome{
    border: 1px solid #000;
    padding: 15px;
    font-size: 20px;
}

.btnHome{
    padding-top: 35px;
    padding-left: 550px;
}

/* ItemList */

.divItemList{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

/* Item  */

.itemContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000;
    margin: 15px;
    padding: 15px;
}

.h1Item{
    font-size: 20px;
}

.imgItem{
    width: 250px;
    height: 250px;
}

.divBtnItem{
    padding-bottom: 10px;
}

.btnItem{
    background-color: #000;
    color: #fff;
}

/* Footer */ 

footer{
    border-top: 1px solid #000; 
    background-color: $colorPrincipal;
    width: 100%;
    height: 230px;
}

.divAboutContacto{
    display: flex;
    justify-content: space-evenly;

    .divAbout{
        text-align: center;
    }
}

.h3Footer{
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 20px;
}

.ulRedes{
    display: flex;
    padding: 0;
    justify-content: space-evenly;
    
    .liRedes{
        list-style: none;
        padding: 4px;
    }
}

.divDerechos{
    text-align: center;
    font-size: 16px;
    padding-top: 40px;
}

.ulPrincipalFooter{

    padding: 0;
    margin: 0;
    font-size: 17px;

    a{
        color: #000;
    }

    li{
        list-style: none;
    }
}

.divContacto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ItemDetail */

.itemDetailPrincipal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 400px;

    .cantidad{
        padding: 0;
        padding-right: 10px;
    }

    a{
        padding-right: 10px;
    }
    
    .btnAumenoDecrement{
        margin-left: 5px;
        margin-right: 5px;
    }
}

.divCardDetail{
    text-align: center;
}

/* ItemCount */

.divAñadir{
    padding-top: 20px;
}

.btnAumenoDecrement{
    background-color: #000;
    color: #fff;
}

.cantidad{
    padding-left: 10px;
    font-size: 20px;
}

.btnAgrgarProd{
    background-color: #000;
    color: #fff;
}

/* Card */ 

.h1Card{
    font-size: 30px;
}

.imgCard{
    width: 250px;
    height: 250px;
}

/* MapCart */   

.cartContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
}

.divColumn1{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}

.divColumn2{
    padding-left: 200px;
}

.divBtnClear{
    padding-top: 5px;
    padding-bottom: 5px;
}

.divColumn3{
    border-top: 1px solid #000;
    padding: 30px;
    text-align: center;
}

.btnMapCart{
    background-color: #000;
    color: #fff;
}

.sectionColumn3{
    padding-top: 30px;
}

.btnContinuar{
    font-size: 30px;
}

.precioTotal{
    font-size: 40px;
    padding-bottom: 20px;
}

/* Formulario */ 

.sectionFormulario{
    text-align: center;
    height: 650px;
    padding-top: 100px;
}

.h2Formulario{
    padding-bottom: 30px;
}

.divBtnFrom{
    padding-top: 10px;
}

.spanForm{
    color: red;
}

.btnFinalizar{
    background-color: #000;
    color: #fff;
}

.h4Formulario{
    color: red;
    padding-top: 30px;
}

.divCamposForm{
    font-size: 20px;
}

.input-form{
    font-size: 20px;
}

.message-form{
    font-size: 20px;
}

/* Cart */ 

.divCarritoVacio{
    text-align: center;
    padding: 20px;

    .h2CarritoVacio{
        font-size: 40px;
        padding-bottom: 20px;
    }
}

/* Detalle */ 

.divDetalle{
    text-align: center;
    padding: 50px;
}

.ulDetalle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;

    li{
        font-size: 23px;
    }
}

/* Nuestros Locales */ 

.containerLocales{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 40px;
    padding-bottom: 20px;
}

.sectionLocales{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #000;
    height: 300px;
    width: 550px;
    margin-left: 30px;
    margin-bottom: 30px;
    background-color: $colorPrincipal;

    .divLocales1{
        border-bottom: 1px solid #000;
    }
    
    .divLocales3{
        border-top: 1px solid #000;
    }
    
    .h2Locales{
        font-size: 40px;
    }
    
    .h3Locales{
        font-size: 30px;
    }

    .h4Locales{
        font-size: 22px;
    }
}

/* Métodos de pago */ 

.sectionMetodoPago{
    height: 550px;
    padding-top: 20px;

    .containerMetodoPago{
        text-align: center;
        padding-bottom: 40px;
        padding-top: 30px;
    }

    .divSecuMetodoPago{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .h1MetodoPago{
        text-decoration: underline;
    }
}

.sectionCardMetodoPago{
    border: 1px solid #000;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $colorPrincipal;
    
    .divSecundario{
        text-align: center;
    }
    
    #div1MetodoPago{
        padding-bottom: 30px;
    }

    #div2MetodoPago{
        border-top: 1px solid #000;
    }

    #div3MetodoPago{
        border-top: 1px solid #000;
        padding-top: 30px;
    }

        .h2MetodoPago{
            font-size: 60px;
        }

        .h3MetodoPago{
            font-size: 25px;
        }
        
        .h4MetodoPago{
            font-size: 18px;
            padding-bottom: 30px;
        }

        .h5MetodoPago{

            font-size: 16px;
        }

            .imgCardMetodoPago1{
            width: 80px;
            height: 50px;
            }
        
            .imgCardMetodoPago2{
            height: 40px;
            width: 75px;
            padding-top: 10px;
            padding-bottom: 10px;
            }
}

/* Metodo de Envio */

.sectionEnvio{
        padding-top: 30px;
        height: 1450px;
        
    
    h2{
        font-size: 30px;
    }

    h3{
        font-size: 25px;
        text-align: center;
        padding-top: 60px;
        padding-right: 100px;
    }

    h4{
        font-size: 20px;
    }

    p{
        font-size: 20px;
    }

    .divInicialEnvios{
        text-align: center;
    }

    .sectionSecun{
        padding-left: 100px;
    }

    .divEnvioSecun{
        width: 1165px;
        border-top: 1px solid #000;
        padding-bottom: 30px;
        padding-top: 20px;
        background-color: $colorPrincipal;
        padding: 20px;
    }
}

/* Break Points */

@media only screen and (max-width:1200px) and (min-width:993px){

    /* Home */
    
    .divPHome{
        padding-left: 100px;
    }

    .btnHome{
        padding-left: 700px;
    }
}

@media only screen and (max-width:992px) and (min-width:769px){

    /* Home */ 
    .divHomeSecundario{
        padding: 0;
        h3{
            padding-left: 60px;
            padding-bottom: 20px;
            padding-top: 20px;
        }
    }
    .divPHome{
        width: 100%;
        padding: 0px;
    }

    .pHome{
        text-align: center;
    }

    .btnHome{
        font-size: 18px;
    }

    /* Footer */

    footer{

        h5{
            font-size: 16px;
        }

        .divAboutContacto{
            
            li{
                font-size: 18px;
            }
        }
    }

    /* ItemList */

    .divItemList{

        button{
            font-size: 18px;
        }
    }

    /* ItemDetail */ 

    .itemDetailPrincipal{

        h2{
            font-size: 28px;
        }

        button{
            font-size: 18px;
        }

        span{
            font-size: 22px;
        }
    }

    /* MapCart */

    .cartContainer{

        h3{
            font-size: 21px;
        }

        button{
            font-size: 18px;
        }
    }

    /* Formulario */

    .sectionFormulario{

        button{
            font-size: 18px;
        }
    }

    /* CartVacio */ 

    .divCarritoVacio{

        button{
            font-size: 18px;
        }
    }

    /* Metodos de pago */ 

    .sectionMetodoPago{

        .sectionCardMetodoPago{

            .h5MetodoPago{
                font-size: 18px;
            }
        }
        
        h5{
            font-size: 16px;
        }
    }
}

@media only screen and (max-width:768px) and (min-width:577px){

    /* Home */

    .divHome{
        height: 1150px;

        h3{
            font-size: 35px;
            padding-left: 40px;
            padding-bottom: 20px;
        }

        p{
            font-size: 24px;
        }
    }

    .divHomeSecundario{

        padding: 0;

        .divPHome{
            width: 100%;
            padding: 0px;
    
            p{
                font-size: 16px;
            }
        }

        .btnHome{
            
            padding-left: 450px;

            button{
                font-size: 16px;
            }
        }
    }


    /* Footer */ 

    footer{

        height: 250px;

        li{
            font-size: 21px;
        }

        h5{
            font-size: 16px;
        }
    }

    /* ItemList */

    .itemContainer{

        img{
            height: 320px;
            width: 320px;
        }

        h1{
            font-size: 30px;
        }

        button{
            font-size: 20px;
        }
    }

    /* ItemDetail */

    .itemDetailPrincipal{

        h1{
            font-size: 40px;
        }

        h2{
            font-size: 35px;
        }

        span{
            font-size: 30px;
        }

        button{
            font-size: 23px;
        }

        img{
            width: 320px;
            height: 320px;
        }

        .btnGral{
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }

    /* MapCart */

    .cartContainer{
        
        h1{
            font-size: 40px;
        }

        h3{
            font-size: 30px;
        }

        button{
            font-size: 25px;
        }

        img{
            height: 320px;
            width: 320px;
        }

        .divColumn1{
            
            .divColumn2{
                padding-left: 100px;
            }
        }
    }

    /* Formulario */ 

    .sectionFormulario{

        height: 750px;

        h2{
            font-size: 30px;
        }

        label{
            font-size: 25px;
        }

        h4{
            font-size: 20px;
        }

        button{
            font-size: 22px;
        }
    }

    /* Carrito Vacio */ 

    .divCarritoVacio{
        
        button{
            font-size: 24px;
        }
    }

    /* Metodos de pago */

    .sectionMetodoPago{

        .h5MetodoPago{
            font-size: 20px;
        }

        h5{
            font-size: 20px;
        }

        .sectionCardMetodoPago{

            .imgCardMetodoPago1{
                width: 60px;
                height: 40px;
            }
        }
    }

    /* Metodos de envio */

    .sectionEnvio{

        height: 1590px;

        h2{
            font-size: 40px;
        }

        h3{
            font-size: 33px;
        }

        h4{
            font-size: 23px;
        }

        p{
            font-size: 24px;
        }
    }
}

@media only screen and (max-width:576px) and (min-width: 415px){

    /* Header */ 

    header{

        height: 190px;

        .h1Header{
            font-size: 80px;
            padding-top: 0px;
        }
    }

    /* NavBar */ 

    .navBar{
        height: 320px;

        .ulNavBar{
            padding-top: 23px;
            flex-direction: column;
            align-items: center;
        }

        a{
            font-size: 45px;
        }
    }

    /* Home */ 

    .divHome{
        height: 1450px;

        .divHomeSecundario{
            text-align: center;
            width: 100%;
            padding: 0;
            
            h3{
                font-size: 45px;
            }
            .divPHome{
                padding: 0;
                width: 100%;
                p{
                    font-size: 24px;
                }
            }

            .btnHome{
                padding: 0;
                padding-top: 50px;
                font-size: 26px;
            }
        }
    }

    /* Footer */ 

    footer{
        height: 340px;
        text-align: center;

        .h3Footer{
            font-size: 45px;
            padding: 0;
        }

        li{
            font-size: 20px;
        }

        h5{
            font-size: 22px;
        }

        .divContacto{
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    /* ItemList */

    .divItemList{

        h1{
            font-size: 40px;
        }

        img{
            height: 450px;
            width: 450px;
        }

        button{
            font-size: 25px;
        }
    }

    /* ItemDetail */

    .itemDetailPrincipal{
        height: 950px;
        flex-direction: column;

        h1{
            font-size: 40px;
        }

        h2{
            font-size: 35px;
        }

        span{
            font-size: 30px;
        }

        img{
            height: 450px;
            width: 450px;
        }

        button{
            font-size: 24px;
        }
    }

    /* MapCart */ 

    .cartContainer{

        .divColumn1{
            flex-direction: column;
            padding: 0;
            
            .divColumn2{
                padding: 0;
            }
        }

        h1{
            font-size: 40px;
        }

        h2{
            font-size: 60px;
        }

        h3{
            font-size: 35px;
        }

        img{
            height: 400px;
            width: 400px;
        }

        button{
            font-size: 26px;
        }
    }

    /* Carrito Vacio */

    .divCarritoVacio{
        height: 300px;
        padding: 0;

        .h2CarritoVacio{
            font-size: 60px;
        }

        button{
            font-size: 26px;
        }
    }

    /* Formulario */

    .sectionFormulario{

        height: 850px;
        padding-top: 0;

        h2{
            font-size: 40px;
        }

        label{
            font-size: 30px;
        }

        input{
            font-size: 30px;
        }

        button{
            font-size: 26px;
        }

        h4{
            font-size: 24px;
        }
    }

    /* Detalles */

    .divDetalle{

        padding-top: 0;

        ul{
            background-color: $colorPrincipal;
        }

        li{
            font-size: 30px;
        }
    }

    /* Nuestros Locales */ 

    .containerLocales{
        align-content: space-evenly;

        .sectionLocales{
            height: 400px;
            width: 600px;
            margin-left: 10px;
        }

        .h2Locales{
            font-size: 50px;
        }

        .h3Locales{
            font-size: 40px;
        }

        .h4Locales{
            font-size: 30px;
            padding: 20px;
        }
    }

    /* Metodos Pago */ 

    .sectionMetodoPago{
        height: 1530px;
    }

    .divSecuMetodoPago{

        .sectionCardMetodoPago{
            width: 600px;
            height: 700px;
            margin-bottom: 60px;
            justify-content: space-evenly;

            .imgCardMetodoPago1{
                width: 100px;
                height: 60px;
            }

            .imgCardMetodoPago2{
                width: 100px;
                height: 60px;
            }

            .h2MetodoPago{
                font-size: 80px;
            }

            .h3MetodoPago{
                font-size: 30px;
            }

            .h4MetodoPago{
                font-size: 24px;
            }

            .h5MetodoPago{
                font-size: 25px;
            }

            h5{
                font-size: 22px;
            }
        }
    }

    /* Metodo Envio */

    .sectionEnvio{

        height: 1850px;

        h2{
            font-size: 45px;
        }

        h3{
            font-size: 35px;
        }

        h4{
            font-size: 27px;
        }

        p{
            font-size: 27px;
        }
    }
}

@media only screen and (max-width:414px) and (min-width:350px){

    /* Header */

    header{
        height: 200px;

        .h1Header{
            font-size: 70px;
            padding-left: 20px;
            padding-top: 10px;
        }
    }

    /* NavBar */

    .navBar{
        height: 310px;

        .ulNavBar{
            flex-direction: column;
            align-items: center;
        }

        a{
            font-size: 50px;
        }
    }

    /* Home */

    .divHome{
        height: 2150px;
        text-align: center;

        h3{
            font-size: 55px;
            padding: 0;
        }

        p{
            font-size: 40px;
            border: none;
            background-color: $colorPrincipal;
        }
        
        .divHomeSecundario{
            padding-left: 0;
        }

        .divPHome{
            padding: 0;
            width: 100%;

            p{
                font-size: 30px;
            }
        }

        .btnHome{
            padding: 0;
            padding-top: 60px;
            font-size: 35px;
        }
    }

    /* Footer */

    footer{

        .divAboutContacto{
            flex-direction: column;
            text-align: center;
            height: 670px;
            background-color: $colorPrincipal;

            h3{
                text-decoration: underline;
            }

            .divContacto{
                .ulPrincipalFooter{
                    
                }
            }
        }

        .divDerechos{
            padding-top: 20px;
            background-color: $colorPrincipal;

            h5{
                padding: 0;
            }
        }
    }

    .h3Footer{
        font-size: 50px;
    }

    li{
        font-size: 35px;
    }

    h5{
        font-size: 30px;
        padding-top: 40px;
    }

    /* ItemList */

    .divItemList{

        .itemContainer{

            h1{
                font-size: 45px;
            }

            img{
                height: 350px;
                width: 350px;
            }

            button{
                font-size: 30px;
            }
        }
    }

    /* ItemDetail */ 

    .itemDetailPrincipal{
        height: 1200px;
        flex-direction: column;
        justify-content: space-evenly;

        div{
            text-align: center;
        }

        h1{
            font-size: 50px;
        }

        img{
            height: 350px;
            width: 350px;
        }

        h2{
            font-size: 40px;
            padding-bottom: 40px;
        }

        span{
            font-size: 35px;
        }

        button{
            font-size: 30px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }

    /* MapCart */

    .cartContainer{

        .divColumn1{
            flex-direction: column;

            .divColumn2{
                padding: 0;
            }
        }

        h1{
            font-size: 50px;
        }

        img{
            height: 350px;
            width: 350px;
        }

        h2{
            font-size: 40px;
        }

        h3{
            font-size: 35px;
        }

        button{
            font-size: 35px;
        }
    }

    /* Formulario */

    .sectionFormulario{

        height: 1100px;
        padding-top: 20px;

        h2{
            font-size: 40px;
        }

        label{
            font-size: 40px;
        }

        input{
            font-size: 30px;
        }

        textarea{
            font-size: 25px;
            
        }

        .divBtnFrom{
            padding-top: 50px;
        }

        button{
            font-size: 35px;
        }

        h4{
            font-size: 30px;
        }
    }

    /* Detalles */ 

    .divDetalle{

        height: 1200px;

        ul{
            padding-top: 20px;
        }

        li{
            font-size: 30px;
        }
    }

    /* Carrito Vacio */

    .divCarritoVacio{

        height: 300px;

        .h2CarritoVacio{
            font-size: 50px;
            padding-top: 20px;
        }

        button{
            font-size: 30px;
        }
    }

    /* Nuestros Locales */

    .containerLocales{

        .sectionLocales{
            width: 900px;
            height: 500px;
        }

        .h2Locales{
            font-size: 70px;
        }

        .h3Locales{
            font-size: 55px;
        }

        .h4Locales{
            font-size: 40px;
        }
    }

    /* Metodos de Pago */

    .sectionMetodoPago{

        height: 2900px;
        padding-top: 60px;

        .sectionCardMetodoPago{
            width: 700px;
            height: 900px;
            margin-bottom: 60px;

            .imgCardMetodoPago1{
                width: 130px;
                height: 90px;
            }

            .imgCardMetodoPago2{
                width: 130px;
                height: 80px;
            }

            .h2MetodoPago{
                font-size: 100px;
            }

            .h3MetodoPago{
                font-size: 50px;
            }

            .h4MetodoPago{
                font-size: 40px;
            }

            .h5MetodoPago{
                font-size: 35px;
            }

            h5{
                font-size: 35px;
            }
        }
    }

    /* Metodo Envio */ 

    .sectionEnvio{
        height: 3550px;

        .divInicialEnvios{
            p{
                padding-left: 25px;
                padding-right: 25px;
            }
        }

        h2{
            font-size: 70px;
        }

        h3{
            font-size: 55px;
        }

        h4{
            font-size: 40px;
        }

        p{
            font-size: 40px;
        }
    }
}

/* 349 281 */

@media only screen and (max-width:349px) and (min-width:281px){

    /* Header */ 

    header{
        height: 100px;

        .h1Header{
            font-size: 50px;
            text-align: center;
            padding: 0;
            padding-top: 15px;
        }
    }

    /* NavBar */

    .navBar{
        height: 360px;
        
        .ulNavBar{
            align-items: center;
            flex-direction: column;
        }
        
        li{
            font-size: 45px;
            padding-top: 10px;
        }

        .imgCartWidget{
            height: 70px;
            width: 70px;
        }
    }

    /* Home */ 

    .divHome{
        height: 2570px;
        text-align: center;

        h3{
            font-size: 40px;
            padding: 0;
        }

        .divHomeSecundario{
            padding-left: 0;
        }

        .divPHome{
            padding: 0;
            width: 100%;
        }

        p{
            font-size: 30px;
            border: none;
            background-color: $colorPrincipal;
            padding: 30px;
        }

        .btnHome{
            padding-top: 35px;
            padding-left: 0;
        }

        button{
            font-size: 35px;
        }
    }

    /* Footer */

    footer{
        height: 800px;
        width: 100%;
        text-align: center;

        .divAboutContacto{
            padding-top: 20px;
            flex-direction: column;
        }

        .h3Footer{
            font-size: 40px;
            text-decoration: underline;
        }

        h5{
            font-size: 30px;
            padding-top: 30px;
        }

        li{
            font-size: 30px;
        }
    }

    /* ItemList */

    .divItemList{

        .itemContainer{

            margin: 50px;

            h1{
                font-size: 80px;
            }

            img{
                width: 800px;
                height: 800px;
            }

            button{
                font-size: 50px;
            }
        }
    }

    /* ItemDetail */

    .itemDetailPrincipal{
        flex-direction: column;
        height: 1700px;
        justify-content: space-evenly;

        h1{
            font-size: 80px;
        }

        h2{
            font-size: 65px;
            padding-bottom: 30px;
        }

        span{
            font-size: 60px;
        }

        button{
            font-size: 50px;
        }

        img{
            width: 800px;
            height: 800px;
        }
    }

    /* MapCart */

    .cartContainer{

        .divColumn1{
            flex-direction: column;
        }

        .divColumn2{
            padding: 0;
        }

        h1{
            font-size: 80px;
        }

        img{
            width: 800px;
            height: 800px;
        }

        h2{
            font-size: 65px;
        }

        h3{
            font-size: 60px;
        }

        button{
            font-size: 50px;
        }
    }

    /* Carrito Vacio */

    .divCarritoVacio{
        height: 400px;

        .h2CarritoVacio{
            font-size: 80px;
            padding-top: 30px;
        }

        button{
            font-size: 50px;
        }
    }

    /* Formulario */

    .sectionFormulario{
        height: 1600px;

        h2{
            font-size: 70px;
        }

        label{
            font-size: 60px;
        }

        input{
            font-size: 60px;
        }

        textarea{
            font-size: 60px;
        }

        button{
            font-size: 50px;
        }

        h4{
            font-size: 40px;
        }
    }

    /* Detalles */

    .divDetalle{
        height: 850px;

        li{
            font-size: 50px;
        }
    }

    /* Locales */

    .containerLocales{
        height: 3300px;
        

        .sectionLocales{
            width: 800px;
            height: 500px;
            padding-left: 40px;
            padding-right: 40px;

            h2{
                font-size: 80px;
            }

            h3{
                font-size: 65px;
            }

            h4{
                font-size: 50px;
            }
        }
    }

    /* Metodos de pago */

    .sectionMetodoPago{
        height: 2770px;

        .sectionCardMetodoPago{
            height: 800px;
            width: 700px;
            margin: 50px;

            .imgCardMetodoPago1{
                width: 130px;
                height: 80px;
            }

            .imgCardMetodoPago2{
                width: 130px;
                height: 80px;
            }

            h2{
                font-size: 100px;
            }

            h3{
                font-size: 60px;
            }

            h4{
                font-size: 40px;
            }

            .h5MetodoPago{
                font-size: 40px;
            }

            h5{
                font-size: 40px;
            }
        }
    }

    /* Metodo envio */

    .sectionEnvio{
        height: 4050px;

        .divInicialEnvios{
            padding: 70px;
        }

        h2{
            font-size: 80px;
        }

        h3{
            font-size: 60px;
        }

        h4{
            font-size: 40px;
        }

        p{
            font-size: 43px;
        }
    }
}
